* {
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 1440px;
    background-color: #FAFAFA;
}
.headercontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 223px;
    font-weight: 500;
    font-size: 13px;
}
nav ul li{
    display: inline-block;
}
.headerli{
    padding-left: 28px;
    color: #242E52;
    line-height: 176.1%;
}
.GetStarted{
    width: 134px;
    height: 44px;
    background-color: #F3603B;
    color: #ffffff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-align: center;
    padding: 12.5px 0;
    font-weight: 500;
    font-size: 13px;
}
.gswhite{
    background-color: #ffffff;
    color: #F3603B;
}
h1{
    font-weight: 700;
    font-size: 58px;
    line-height: 66px;
    color: #232C50;
}
.container1{
    height: 525px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container1_1{
    width: 493px;
    height: 397px;
    display: grid;
    justify-content: center;
}
.container1_p{
    width: 350px;
    height: 71px;
}
.container1_2{
  width: 490px;
  height: 535px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container1_2_img{
  display: flex;
  margin-bottom: 15px;
}
.container1_2_img1{
  border: 16px solid #ffffff;
  border-radius: 5px;
}
.container1_2_img2{
  margin-left: 15px;
}
.container1_2_p{
    width: 260px;
    height: 235px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}
.alingp{
  background-color: #FAFAFA;
  display: flex;
  align-items: flex-end;
  padding: 17px;
  font-weight: 500;
  border-radius: 5px;
}
.container1_2_p1{
  height: 108.5px;
  width: 227.5px;
  font-size: 36px;
}
.container1_2_p2{
  background-color: #F3603C;
  color: #ffffff;
  width: 106.03px;
  height: 78.33px;
  font-size: 16.5px;
}
.container1_2_p3{
  width: 106.03px;
  height: 78.33px;
  font-size: 16.5px;
}
.container2{
  margin-top: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container2_div1{
  width: 433px;
  height: 212px;
}
.container2_div1_h2{
  width: 433px;
  height: 88px;
  font-weight: 700;
  font-size: 36px;
  color:#232851;
  margin-bottom: 36px;
}
.container2_div1_p{
  width: 337px;
  height: 88px;
}
.item{
  width: 69px;
  height: 43px;
  background-color: #F3603B;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  margin-right: 23px;
}
.container2_div2_1{
  display: flex;
}
.container2_div2_h3{
  color: #323851;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 18px;
}
.container2_div2_p{
  width: 430px;
  height: 104px;
  font-weight: 500;
  font-size: 16.2984px;
  line-height: 26px;
  margin-bottom: 42px;
  color: #B3B2B7;
}
.tituloh2{
  color: #242E53;
  font-weight: 700;
  font-size: 39.2143px;
  line-height: 156.6%;
  text-align: center;
  margin-top: 132px;
}







/* .pcenter{
  display: block;
  align-items: center;
} */