* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 1024px;
}
.bloque1{
    background-color: #222222;
    /* height: 20px; */

}
.bloque1_p{
    color: #F3F3F3;
}
.bloque1_ul{
    color: #F3F3F3;
}
.bloque2{
    background-color: #F0A83E;
    /* height: 62px; */
}
.bloque2_ul{
    color: #F3F3F3;
}
.bloque3{
    background-image: url(../img/background.png);
    height: 409px;
}
.bloque3_h2{
    /* width: 320px; */
    /* display: flex;
    align-items: center; */
    background-color: #F3F3F3;
    color: #3C2313;
    padding: 10px;
    width: 365px;
    height: 54px;
    position: absolute;
    top: 237px;
    left: 648px;
    font-size: 30px;
    line-height: 35px;
    border-radius: 10px;
}
.bloque3_p1{
    width: 200px;
}
.bloque3_p2{
    background-color: #F0A83E;
    color: #F3F3F3;
    width: 107px;
}
.bloque4{
    background-color: #F0A83E;
}
.bloque5{
    background-color: #F0A83E;
}
.bloque6{
    background-color: #3C2313;
}
.bloque6_img{    
}
.bloque7{
    background-color: #222222;
    text-align: center;
    color: #F3F3F3;
    padding: 3px;
}