* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 1024px;
}
.bloque1{
    background-color: #222222;

}
.bloque1_p{
    color: #F3F3F3;
}
.bloque1_ul{
    color: #F3F3F3;
}
.bloque2{
    background-color: #F0A83E;
}
.bloque2_ul{
    color: #F3F3F3;
}
.bloque3{
    background-image: url(../img/background.png);
    height: 409px;
}
.bloque3_h2{
    background-color: #F3F3F3;
    /* width: 320px; */
    text-align: center;
    /* display: block; */
    /* position: relative; */
    /* top: 150px; */
    position: absolute;
    top: 320px;
    left: 700px;
    font-size: 30px;
    line-height: 35px;
}
.bloque3_p1{
    /* background-color: transparent; */
    width: 200px;
}
.bloque3_p2{
    background-color: #F0A83E;
    color: #F3F3F3;
    width: 107px;
}
.bloque4{
    background-color: #F0A83E;
}
.bloque5{
    background-color: #F0A83E;
}
.bloque6{
    background-color: #3C2313;
}
.bloque6_img{    
}
.bloque7{
    background-color: #222222;
    text-align: center;
    color: #F3F3F3;
    padding: 5px;
}