* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bloque1{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.bloque1__img{
    padding: 10px 20px;
}
nav ul li{
    display: inline-block;
}
.navbar1{
    padding-right: 13.5px;
}
.navbar1_item{
    padding: 40px 6.5px 41px 6.5px;    
}
.bloque2{
    background-color: #cacccc;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 750px;
    align-items: center;
}
.bloque2__caja1{
    position: relative;
    background-image: url("../img/delivery.png");
    height: 350px;
    width: 490px;
}
.bloque2__caja1__text{
    position: absolute;
    left: 20px;
    top: 20px;
}
b{
    font-size: 24px;
    line-height: 28px;
}
.whitetext{
    color: #ffffff;
}
.redtext{
    color:#ff0000;
}
.bloque2__caja2{
    position: relative;
    background-color: #f3f3f3;
    height: 350px;
    width: 490px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bloque2__caja2__h2{
    text-align: center;
    color: #ff0000;
}
.bloque2__caja2__p{
    font-size: 20px;
    line-height: 23px;
    padding-left: 69px;
}
.bloque2__caja2__div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}
.ol_item{
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
}
.bloque2_caja2_img{
    padding-bottom: 50px;
}
.bloque3{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.bloque3__div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}
.bloque3__img{
    padding: 35px 42px;
}
footer{
    margin-top: auto;
}