* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;

}
.barra1{
    /* position: sticky;
    top: 0px; */
    height: 38px;
    padding: 10px;
    background-color: #1CD1B0;
    font-size: 15px;
    line-height: 18px;
}
.barra2{
    /* position: sticky;
    top: 38px; */
    height: 101px;
    padding: 28px;
    padding-bottom: 26px;
    background-color: #00669F;
    box-shadow: 0px 10px 15px 0 grey;
    font-size: 40px;
    line-height: 47px;
}
.barra3{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.barra3__bloque1{
    position: relative;
    width: 300px;
    height: 529px;
    /* top: 293px;
    left: 32px; */
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.barra3__bloque1--corazon{
    position:absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque1--gotica{
    border-radius: 16px 16px 0px 0px;
    position:absolute;
    z-index: 40;
}
.barra3__bloque1--batman{
    position:absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque1_h2{
    position:absolute;
    left: 89px;
    top: 266px;
    font-size: 30px;
    line-height: 35px;
}
.barra3__bloque1_p1{
    width: 267px;
    height: 113px;
    position:absolute;
    left: 16px;
    top: 312px;
    /* text-align: justify; */    
    font-size: 16px;
    line-height: 19px;  
}
.barra3__bloque1_p2{
    position:absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
    font-size: 15px;
    line-height: 18px;
}
.barra3__bloque2{
    position: relative;
    width: 300px;
    height: 529px;
    /* top: 293px;
    left: 362px; */
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.barra3__bloque2--corazon{
    position:absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque2--gotica{
    border-radius: 16px 16px 0px 0px;
    position:absolute;
    z-index: 40;
}
.barra3__bloque2--harley{
    position:absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque2_h2{
    position:absolute;
    left: 65px;
    top: 266px;
    font-size: 30px;
    line-height: 35px;
}
.barra3__bloque2_p1{
    width: 267px;
    height: 113px;
    position:absolute;
    left: 16px;
    top: 312px;
    /* text-align: justify; */
    font-size: 16px;
    line-height: 19px;    
}
.barra3__bloque2_p2{
    position:absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
    font-size: 15px;
    line-height: 18px;
}

.barra3__bloque3{
    position: relative;
    width: 300px;
    height: 529px;
    /* top: 293px;
    left: 692px; */
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.barra3__bloque3--corazon{
    position:absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque3--gotica{
    border-radius: 16px 16px 0px 0px;
    position:absolute;
    z-index: 40;
}
.barra3__bloque3--batman{
    position:absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque3_h2{
    position:absolute;
    left: 89px;
    top: 266px;
    font-size: 30px;
    line-height: 35px;
}
.barra3__bloque3_p1{
    width: 267px;
    height: 113px;
    position:absolute;
    left: 16px;
    top: 312px;
    /* text-align: justify; */
    font-size: 16px;
    line-height: 19px;
}
.barra3__bloque3_p2{
    position:absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
    font-size: 15px;
    line-height: 18px;
}
.barra3__bloque4{
    position: relative;
    width: 300px;
    height: 529px;
    /* top: 293px;
    left: 462px; */
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.barra3__bloque4--corazon{
    position:absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque4--gotica{
    border-radius: 16px 16px 0px 0px;
    position:absolute;
    z-index: 40;
}
.barra3__bloque4--harley{
    position:absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque4_h2{
    position:absolute;
    left: 65px;
    top: 266px;
    font-size: 30px;
    line-height: 35px;
}
.barra3__bloque4_p1{
    width: 267px;
    height: 113px;
    position:absolute;
    left: 16px;
    top: 312px;
    /* text-align: justify; */
    font-size: 16px;
    line-height: 19px;    
}
.barra3__bloque4_p2{
    position:absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
    font-size: 15px;
    line-height: 18px;
}

.footer{
    background-color: #00669F;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgfooter{
    justify-self: flex-end;
    /* align-self: flex-end; */
}




1980
@media (max-width:400px){
    
}