* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.barra1{
    /* position: sticky;
    top: 0px; */
    height: 23px;
    padding: 3px 20px;
    background-color: #1CD1B0;
    font-size: 15px;
    line-height: 18px;
}
.barra2{
    /* position: sticky;
    top: 38px; */
    display: flex;
    height: 80px;
    background-color: #00669F;
    color: #F3F3F3;
    align-items: center;
    padding-left: 10px;
}
.barra2>h1{
    padding-left: 20px;
}
nav ul li{
    display: inline-block;
}
li{
    padding-right: 20px;
}
.navbar{
    display: flex;
    background-color: #001D2D;
    color: #F3F3F3;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 10px 15px 0 grey;

}











































footer{
    height: 51px;
    text-align: center;
    background-color: #00669F;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    margin-top: auto;
}