*{
    box-sizing: border-box;
}



header {
    position: sticky; 
    top: 0px;
    background-color: #8D91C7;
    width: 100%;
    z-index:2;
}

nav {
    position: sticky;
    top: 37px;
    z-index: 1;
}

nav ul li {
    display: inline-block;
   
}



/* Estilos boxes */

/*mostrar max-width con contenedor y borde */

.container {
    max-width: 70%;
    margin: 0px auto;
    
}

/* mostrar alto y ancho con box */
.box {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin:10px;
    display: inline-block;
    border-radius: 100px;
    background-image: url(../img/whatsapp.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

     
    
    
}

.box-1 {
    background-color: rgba(132,90,109,1);
   position: relative;
   z-index: 0;
   
}

.box-2 {
    background-color: rgba(62,25,41, 1);
    position: relative;
   
    /* bottom: 50px;
    right: 50px; */
    
    
}

.box-3 {
    background-color: rgba(110,117,168, 0.7);
}

.navbar {
    background-color: lightpink;
}