* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 1024px;
}
.barra1{
    height: 38px;
    padding: 10px;
    background-color: #1CD1B0;
}
.barra2{
    height: 101px;
    padding: 28px;
    padding-bottom: 26px;
    background-color: #00669F;
    box-shadow: 0px 10px 15px 0 grey;
}
.barra3{
    height: 833px;
}
.barra3__bloque1{
    position: absolute;
    width: 300px;
    height: 529px;
    top: 293px;
    left: 32px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.barra3__bloque1--corazon{
    position: absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque1--gotica{
    border-radius: 16px 16px 0px 0px;
    position: absolute;
    z-index: 40;
}
.barra3__bloque1--batman{
    position: absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque1_h2{
    position: absolute;
    left: 89px;
    top: 266px;
}
.barra3__bloque1_p1{
    width: 267px;
    height: 113px;
    position: absolute;
    left: 16px;
    top: 312px;
    text-align: justify;
    
}
.barra3__bloque1_p2{
    position: absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
}

.barra3__bloque2{
    position: absolute;
    width: 300px;
    height: 529px;
    top: 293px;
    left: 362px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.barra3__bloque2--corazon{
    position: absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque2--gotica{
    border-radius: 16px 16px 0px 0px;
    position: absolute;
    z-index: 40;
}
.barra3__bloque2--harley{
    position: absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque2_h2{
    position: absolute;
    left: 89px;
    top: 266px;
}
.barra3__bloque2_p1{
    width: 267px;
    height: 113px;
    position: absolute;
    left: 16px;
    top: 312px;
    text-align: justify;
    
}
.barra3__bloque2_p2{
    position: absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
}

.barra3__bloque3{
    position: absolute;
    width: 300px;
    height: 529px;
    top: 293px;
    left: 692px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.barra3__bloque3--corazon{
    position: absolute;
    left: 11px;
    top: 15.88px;
    z-index: 50;
}
.barra3__bloque3--gotica{
    border-radius: 16px 16px 0px 0px;
    position: absolute;
    z-index: 40;
}
.barra3__bloque3--batman{
    position: absolute;
    left: 90px;
    top: 128px;
    border-radius: 50%;
    z-index: 45;
}
.barra3__bloque3_h2{
    position: absolute;
    left: 89px;
    top: 266px;
}
.barra3__bloque3_p1{
    width: 267px;
    height: 113px;
    position: absolute;
    left: 16px;
    top: 312px;
    text-align: justify;
    
}
.barra3__bloque3_p2{
    position: absolute;
    left: 85px;
    top: 462px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 15px 35.78px 15.52px 37px;
}

.footer__p{
    position: absolute;
    width: 1024px;
    height: 51px;
    background-color: #00669F;
    color: #ffffff;
    line-height: 18.75px;
    padding: 16px;
}