body{
    margin: 0;
}
header {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
.perfil {
    max-height: auto;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
h1{
    margin: 0 auto;
    text-align: center;
    background-color: #C4C4C4;
    color: #005677;
}
.items {
    background-color: #C4C4C4;
    color: #005677;
    padding-left: 10px;
}
footer{
    background-color: #005677;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
}
footer img {
    /* margin-left: 30px; */
}
footer i {
    margin-left: 20px;

}
h1,h2,h3,li{
    font-family: 'Times New Roman';
}
.final{
    margin: 8px 0;
}
.linea {
    margin-left: 78px;
}